.galeria-container {
    display: flex;
    justify-content: center;
    /* background-image: url("./images/background.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.coluna-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 50%; 
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-container img {
    width: 100%; 
    height: auto; /* Mantém a proporção da imagem */
    max-width: 300px; /* Limite máximo de largura, ajuste conforme necessário */
    object-fit: cover; /* Corta as bordas se necessário */
}





@media (max-width: 768px) {
    .galeria-container {
        flex-direction: column;
}
    
    .coluna-container {
        width: 100%; 
    }
}
