.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ; /* Três colunas */
    gap: 20px;
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



.section img{
    width: 80%;
}


.section h2 {
    color: var(--cor-4); /* Cor para destacar o título */
    margin-bottom: 20px;
}

.section p {
    font-size: 1.5em;
    line-height: 1.6;
}

.highlight {
    color: var(--cor-4);
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}