:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: var(--cor-1);
   height: 70px;
}
.op-container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
    width: 70%;

}

.logo-container{
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-container img{
    width: 50px;
    height: 50px;
    margin-right: 80%;
}
#op-icon{
    background-color: var(--cor-1);
    border: none;
    color: var(--cor-5);
    display: flex;
    gap: 20%;
    width: 15%;
}
.op-contato{
    width: 15%;
}
.op-galeria{
    width: 10%;
}